# Ignore virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings (optional)
.vscode/

# Encrypted or sensitive files
*.enc

# OS-specific
.DS_Store
Thumbs.db
